h1{
    color: #7ea04d;
}
p{
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: justify;
    background-color: #407088;
    color: #f6f6f6;
    
}
.cuerpo{
    display: flex;
}
img{
    margin-left: 100px;
}