<div class="covid">
    <div class="text-center text-primary">
        <h1>COVID-19</h1>
    </div>
    <body class="cuerpo">
        <div>
           
        </div> 
        <div>
            <img src="" alt="">
            <p>
                La COVID-19 afecta de distintas maneras en función de cada persona. La mayoría de las personas que se contagian presentan síntomas de intensidad leve o moderada, y se recuperan sin necesidad de hospitalización.
                CÓMO SE PROPAGA
                El virus que causa la COVID‑19 se transmite principalmente a través de las gotículas generadas cuando una persona infectada tose, estornuda o espira. Estas gotículas son demasiado pesadas para permanecer suspendidas en el aire y caen rápidamente sobre el suelo o las superficies.
                Usted puede infectarse al inhalar el virus si está cerca de una persona con COVID‑19 o si, tras tocar una superficie contaminada, se toca los ojos, la nariz o la boca.
            </p>
            
        </div>
        
    </body>
</div>