.padre{
    display: flex;
}
.title1{
    margin: 20px 250px ;
    background-color: aquamarine;
    
}
.title2{
    margin: 20px 350px;
    width: 20%;
    background-color: aquamarine;
    
}
.padre2{
    display: flex;
}
.p2{
    margin: 20px;
    margin-left: 280px;
    width: 450px;
    text-align: justify;
}
img{
    margin-left: 70px;
}
.p1{
    width: 450px;
    margin-top: 50px;
    margin-left: 70px;
    text-align: justify;
}
.padre3{
    display: flex;
}


.title3{
    margin-left: 370px;
    margin-top: 25px;
}
.p3{
    width: 450px;
    margin-left: 750px;
    margin-top: 80px;
    text-align: justify;
}