.padre{
    display: flex;
}
.title1{
    margin: 20px 250px ;
    background-color: aquamarine;
    
}
.title2{
    margin: 20px 350px;
    width: 20%;
    background-color: aquamarine;
    
}
.padre2{
    display: flex;
}
.p2{
    margin-top: 120px;
    margin-left: 280px;
    width: 450px;
    text-align: justify;
}
.img1{
    margin-left: 80px;
    margin-top: 40px;
}
.p1{
    width: 450px;
    margin-top: 90px;
    margin-left: 120px;
    text-align: justify;
}
.padre3{
    display: flex;
}


.title3{
    text-align: center;
    margin-top: 50px;
}
.p3{
    width: 350px;
    margin-left: 300px;
    margin-top: 80px;
    text-align: justify;
}
.img2{
    margin-left: 220px;
}
.img3{
    margin-left: 140px;
    margin-top: 35px;
}