<div>
     
     <div class="padre">
            <h1 class="title1">Title</h1>
            <h1 class="title2">Title</h1>
     </div>
     <div class="padre2">
            <div class="img1">
                <img src="assets/icons/ASEO.jpg" height="300" width="400" alt="">
            </div>
            <p class="p2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nisi saepe quas voluptates illum totam veritatis, neque enim veniam tempora nesciunt eligendi autem voluptas error reprehenderit facere, asperiores, earum assumenda!</p>
     </div>
     <div class="padre3">
            <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus saepe eum eligendi sit quidem iure sapiente magnam assumenda alias earum fugit animi, facilis amet accusantium debitis eos reprehenderit exercitationem consequuntur.</p>
            <div class="img2">
            <img src="assets/icons/limpieza.jpg" height="300" width="400" alt="">
            </div>  
     </div>
        <div>
                <h1 class="title3">Why Choose DeepCleaning</h1>
                <div class="d-flex">
                    <div class="img3">
                        <img src="assets/icons/implementos.jpg" height="300" width="400" alt="">
                    </div>
                <p class="p3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque ex voluptates itaque iure quisquam nostrum id sequi quae, eum hic, eveniet consectetur quos doloremque molestias ratione fuga. Id, fuga in!</p>
                
        </div> 
        </div>
</div>